* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	vertical-align: middle;
	border-radius: 20px;
}
#bside {
	display: inline-block;
/*	padding-top: 30px;
	padding-left: 30px;
*/	vertical-align: middle;
}
#box-1 {
	height: 250px;
	width: 50%;
	background-color: lightblue;
	display: inline-block;
}
#box-2 {
	height: 250px;
	width: 50%;
	background-color: pink;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}