* {
	background-color: lightblue;
	text-align: center;
  }
p {
	font-size: 22px;
}
p::first-letter {
	background-color: magenta;
	font-size: 90px;
	color: grey;
}
[href="https://www.google.com"] {
	background-color: black;
	color: green;
}
[class^="box"] {
	font-size: 10px;
	color: cyan;
}
[class$="1"] {
	background-color: black;
}

p::first-line {
	font-size: 50px;
	color: magenta;
	font-family: 'Anton', sans-serif;
}

.search::after{
	content: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQNzfAbrqgNDP0B4DpKSc9wIj7bfqmU3a7aDJjR96yshpjXNM36);
}
p:first-child::selection {
	background-color: yellow;
}
  p:first-child {
  	color: red;
  }
    p:last-child {
  	color: violet;
  }
    p:nth-child(even) {
  	color: white;
  }
    p:first-child {
  	color: red;
  }
  input:focus {
  	background-color: yellow;
  }
  input:read-only{
  	background: pink;
  }
  input:checked + span {
	color: magenta;
}

.box {
	width : 500px;
	margin:0 auto;
	text-align: center;
	font-size: 40px;
	font-style: italic;
}
h2:active {
	color : white;
}
.box1 > a:link{
	color: black;
}
.box2 > a:visited {
	color: orange;
}
.box3 > a:hover {
	background-color: lightgrey;
}
.box4 > a:active {
	background-color: black;
}

.box5 > a:link {
	color: skyblue;
}
.box5 > a:visited {
	color: lightgrey;
}
.box5 > a:hover {
	background-color: red;
	color: black;
}
.box5 > a:active {
	color: white;
	background-color: black;
}