* {
	text-align: center;
	font-size: 32px;
	word-spacing: 25px;
	
  }
  #grandparent p {
  	color: teal;
  }
#grandparent {
	background-color: grey;
	padding: 50px;
	height: 70vh;
}
#parent {
	background-color: pink;
	height: 100vh;
}
#parent > p {
	color: green;
}
  #grandparent + p {
  	color: orange;
  }
    #grandparent ~ p {
  	color: magenta;
  }

