* {
	background-color: lightblue;
}
#male,
#female {
	font-size: 40;
	background-color: pink;
	border: 1px;
}

#box1,
#box2,
#box3 {
	border: 5px solid black;
	background-color: pink;
	padding-top: 10px;
	margin: 30px;
	height: 50px;
    padding-bottom: 10px; 
}
/*
#box2 {
	margin: 50px 0;
}
#box3 {
	margin: 50px 0;
}
*/
