/*
	nav:5995DA;
	header: #B2D6FF;
	main: ; #EA
	signup: #D6E9FE;
	f1 : #F5CF8E;
	f2 : #F09A90;
	f3 : #C8C6FA; 

*/
* {
	margin: 0px;
	padding: 0px; 
	box-sizing: border-box;
/*	background-color: blue;*/
}

/*mobile < 400px*/
/*@media only screen and (max-width: 400px) {*/

	.page {
	/*		float: left;*/
			width: 100%;
	}

	#nav {
	/*		float: left;*/
			background-color: #5995DA;
			height: 85px;
		}
	#header {	
	/*		float: left;*/
			background-color: #B2D6FF;
			height: 85px;
		}	
	#main {
	/*		float: left;*/
			background-color: #5995DA;
			height: 85px;
		}
	#signup {
	/*		float: left;*/
			background-color: #D6E9FE;
			height: 85px;
		}

	#f1 {
	/*		float: left;*/
			background-color: #F5CF8E;
			height: 85px;
		}
	#f2 {
	/*		float: left;*/
			background-color: #F09A90;
			height: 85px;
		}
	#f3 {
	/*		float: left;*/
			background-color: #C8C6FA;
			height: 85px;
		}
/*}*/

.cleafix::after {
	content: "";
	display: block;
	clear: both;
}
