  .fakeimg {
    height: 200px;
    /*background: #aaa;*/
  }

p {
	font-style: italic;
	font-size: 14px;
}
#Skills {
	height: 300px;
	text-decoration-style: inherit;
/*	background-color: lightgrey*/
}
#Skills > h2 {
	margin-top: 5px;
}
#pete {
	height: 200px;
	border-radius: 50%;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1px;
  border-color: #2c3e50 !important;
}

.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
  color: #2c3e50 !important;
  font-size: 2rem;
}

.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}
