* {
/*	background-color: grey;*/
}
#pex-1,
#pex-2,
#pex-3,
#pex-4
 	{
 	padding: 100px;
 	width: 200px;
 	position: relative;
}

/*Column 1*/
#c1-box1 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: rgb(255,0,0);
	opacity: 0.4;
}
#c1-box2 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: rgb(0,255,0);
	opacity: 0.4;
}
#c1-box3 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: rgb(0,0,255);
	opacity: 0.4;
}

/*Column 2*/
#c2-box1 {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 200px;
	height: 200px;
	background-color: rgb(255,0,0);
	opacity: 0.4;
}
#c2-box2 {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 200px;
	height: 200px;
	background-color: rgb(0,255,0);
	z-index: -3;
	opacity: 0.4;
}
#c2-box3 {
	position: absolute;
	top: 150px;
	left: 150px;
	width: 200px;
	height: 200px;
	background-color: rgb(0,0,255);
	z-index: -2
	opacity: 0.4;
}

/*Column 3*/
#c3-box1 {
	position: absolute;
	top: 0px;
	left: 50px;
	width: 200px;
	height: 200px;
	background-color: rgb(255,0,0);
	opacity: 0.4;
}
#c3-box2 {
	position: absolute;
	top: 25px;
	left: 25px;
	width: 200px;
	height: 200px;
	background-color: rgb(0,255,0);
	opacity: 0.4;
}
#c3-box3 {
	position: absolute;
	top: 75px;
	left: 75px;
	width: 200px;
	height: 200px;
	background-color: rgb(0,0,255);
	opacity: 0.4;
}

/*Column 4*/
#c4-box1 {
	position: absolute;
	top: 0px;
	left: 50px;
	width: 200px;
	height: 200px;
	background-color: rgb(255,0,0);
	opacity: 0.4;
}
#c4-box2 {
	position: absolute;
	top: 25px;
	left: 25px;
	width: 200px;
	height: 200px;
	background-color: rgb(0,255,0);
	z-index: -2
	opacity: 0.4;
}
#c4-box3 {
	position: absolute;
	top: 75px;
	left: 75px;
	width: 200px;
	height: 200px;
	background-color: rgb(0,0,255);
	z-index: -3;
	opacity: 0.4;
}