* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	padding: 5px;
}
body {
	background-color: grey;
}
h1, h2, h3, h4, h5, h6 {
	color: dimgrey;
	flood-color: transparent;
	size: 20px solid blue;
}
header {
	background-color: blue;
}
header img {
	width: 50px;
	vertical-align: middle;
}
header h1 {
	display: inline-block;
	font-weight: lighter;
	letter-spacing: 2px;
	vertical-align: middle;
	margin-left: 5px;
}
.container {
	width: 80%;
	max-width: 1280px;
	background-color: #fff;
	height: 100%;
	margin: 5px auto 0 auto;
	border-radius: 20px;
}
.service-container {
/*	height: 200px;*/
	margin-top: 10px;
	padding: 10px 10px 10px 10px;
	display: inline-block;
	/*border: 1px solid #000;*/
	width: 50%;
/*	margin-bottom: -10px;*/
}
.service-container > div {
/*	height: 100%;*/
	background-color: #eee;
	border-radius: 10px;
}	
.service-container img {
	width: 20%;
	vertical-align: top;
}
.service-details {
	width: 80%;
	display: inline-block;
	margin-top: 5px;
}
.service-details h3 {
	margin-top: 5px;
}