* {
	background-color: white;
	margin: 0;
	box-sizing: border-box;
}
#window {
/*	border: 5px;*/
	width: 500px;
	height: 500px;
	background-color: black;
	border-radius: 20px;
}
#div-1 {
	background-color: black;
	display: inline-block;
	text-align: center;
	border-radius: 20px;
}
#img-1 {
	width: 80px;
	margin-left: 160px;
	margin-right: 5px;
	border-radius: 20px;
	vertical-align: middle;
}
#txtbox-1 {
	display: inline-block;
	vertical-align: left;
	background-color: dimgrey;
}
#div-2 {
	padding-left: 10px;
	border-radius: 20px;
	background-color: black;
}
#img-2 {
	width: 40px;
	border-radius: 20px;
	vertical-align: middle;
}
#txtbox-2 {
	display: inline-block;
	padding-left: 5px;
	width: 60px;
	height: 20px;
	vertical-align: middle;
	background-color: dimgrey;
}
#div-3 {
	margin-top: 20px;
	padding-right: 20px;
	text-align: right;
	background-color: black;
	border-radius: 10px;
}
#txtbox-3 {
	display: inline-block;
	width: 150px;
	height: 20px;
	text-align: right;
	background-color: deepskyblue;
}
#div-4 {
	margin-top: 20px;
	padding-left: 100px;
	text-align: left;
/*	border-radius: 20px;*/
	background-color: black;
	border-radius: 10px;
}
#txtbox-4 {
	display: inline-block;
	width: 250px;
	height: 150px;
	text-align: center;
	background-color: dimgrey;
}
#div-5 {
	margin-top: 5px;
	padding-left: 10px;
	text-align: left;
	border-radius: 20px;
	background-color: black;
	border-radius: 10px;
}
#img-5 {
	width: 40px;
	border-radius: 20px;
	vertical-align: middle;
}
#txtbox-5 {
	display: inline-block;
	width: 150px;
	height: 20px;
	text-align: center;
	background-color: dimgrey;
}
#div-6 {
	margin-top: 20px;
	padding-right: 20px;
	text-align: right;
	background-color: black;
	border-radius: 10px;
}
#txtbox-6 {
	display: inline-block;
	width: 115px;
	height: 20px;
	text-align: right;
	background-color: deepskyblue;
}
#div-7 {
	margin-top: 20px;
	margin-left: 100px;
	width: 250px;
	height: 20px;
	text-align: left;
	background-color: dimgrey;
	border-radius: 10px;
}