* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	width: 900px;
	margin-top: 0 auto;
	background-color: lightgrey;
}
.container::after {
	content: "";
	display: block;
	clear: both;
}

header {
	height: 100px;
	background-color: mediumblue;
}
aside {
	height: 300px;
	width: 200px;
	float: left;
	background-color: orangered;
}
main {
	height: 500px;
	width: 700px;
	background-color: yellow;
	float: left;
}
footer {
	clear: both;
	height: 100px;
	background-color: lightblue;
}