* {
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,200,0.4);
	font-size: 140px;
}
body {
	margin: 50px;
}

#parent {
	position: relative;
	background-color: rgba(200,200,200,0.2);
}
#uplift {
	padding: 5px;
	background-color: pink;
	position: fixed;
	top: 25%;
	right: 0px;
	left: 0px;
	bottom: 25%;
	z-index: -1;
}