* {
	margin : 0;
	padding: 0;
	box-sizing: border-box;

}

.cleafix::after {
	content: "";
	display: block;
	clear: both;
}

div.container {
	background-color: lightblue;
	padding-top: 10px;
}

.col-1-4th {
	float: left;
	width: 25%;
}
.col-one-half {
	float: left;
	width: 50%;
	border : 1px solid white;
}
.col-one-third {
	float: left;
	width: 50%;
	border : 1px solid white;
}