* {
	margin: 0px;
	padding: 0px; 
	box-sizing: border-box;
/*	background-color: blue;*/
}

/*mobile < 400px*/
@media only screen and (max-width: 400px) {
	.col {
		float: left;
		width: calc(100%/2);
	}
	h1::after {
		content: "Mobile";
	}
}
/* tablet < 960px */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	.col {
		float: left;
		width: calc(100%/4);
		border: 1px solid black;
	}
	h1::after {
		content: "Tablet";
	}
}
/* Large devicws > 961 */
@media only screen and (min-width: 961px)  {
	.col {
		float: left;
		width: calc(100%/6);
		border: 1px solid black;
	}
	h1::after {
		content: "Large device";
	}
}
.cleafix::after {
	content: "";
	display: block;
	clear: both;
}

